<div class="content-wrapper">
    <!-- Contenido encabezado -->
    <section class="content-header">
        <h1>
            Editar la cita
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="/v1/inicio"><i class="fa fa-home"></i>Home</a>
            </li>
        </ol>
    </section>
    
    <!-- Contenido principal -->
    <section class="content">
    
    
        <div class="box">
            
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"
                        title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
    
            <div class="box-body">
                <form name="formAppo" id="formAppo"" action="appointSave" method="post">
                    
                    <div class="form-group has-success">
                        <label>Id</label>
                        <input type="text" class="form-control" value="<%= datos.id %>" name="id" readonly>
                    </div>
    
                    <div class="input-group">
                        <span class="input-group-addon">Cedula</span>
                        <input type="number" class="form-control" value="<%= datos.cedula %>" name="cedula" placeholder="Cedula">
                    </div>

                    <br>

                    <div class="input-group">
                        <span class="input-group-addon">Nombre</span>
                        <input type="text" class="form-control" value="<%= datos.nombre %>" name="nombre"
                            placeholder="Nombre">
                    </div>

                    <br>

                    <div class="input-group">
                        <span class="input-group-addon">Apellido</span>
                        <input type="text" class="form-control" value="<%= datos.apellido %>" name="apellido"
                            placeholder="Apellido">
                    </div>

                    <br>

                    <div class="input-group">
                        <span class="input-group-addon">Telefono</span>
                        <input type="text" class="form-control" value="<%= datos.telefono %>" name="telefono" placeholder="Telefono">
                    </div>

                    <br>
                    
                    <div class="input-group">
                        <span class="input-group-addon">Direccion</span>
                        <input type="text" class="form-control" value="<%= datos.direccion %>" name="direccion" placeholder="Direccion">
                    </div>

                    <br>

                    <div class="input-group">
                        <span class="input-group-addon">Correo</span>
                        <input type="text" class="form-control" value="<%= datos.correo %>" name="correo" placeholder="Correo">
                    </div>

                    <br>

                    <div class="input-group">
                        <span class="input-group-addon">Laboratorios</span>
                        <select class="form-control" name="idLab" id="idLab" value="<%= datos.idLab %>">
                            <% datosSedes.forEach((datos)=>{ %>
                            <option value="<%= datos.id %>"><%= datos.laboratory %></option>
                            <%})%>
                        </select>
                    </div>

                    <br>

                    <div class="input-group">
                        <span class="input-group-addon">Fecha</span>
                        <input type="text" class="form-control" value="<%= datos.fecha %>" name="fecha" placeholder="Fecha">
                    </div>

                    <br>

                    <div class="input-group">
                        <span class="input-group-addon">Hora cita</span>
                        <input type="text" class="form-control" value="<%= datos.horaCita %>" name="horaCita" placeholder="Hora cita">
                    </div>

                    <br>

                    <div class="input-group">
                        <span class="input-group-addon">Costo cita</span>
                        <input type="text" class="form-control" value="<%= datos.costoCita %>" name="costoCita" placeholder="Costo cita">
                    </div>

                    <br>

                    <div class="box-footer">
                        <button class="btn btn-app" type="submit" onclick="confirmar()"></a>
                            <i class="fa fa-save"></i> Guardar
                        </button>
                        <a href="/viewA/viewAppointment" class="btn btn-app">
                            <i class="fa fa-times"></i> cancelar
                        </a>
                    </div>
                </form>
            </div>
            <script>
                // Alerta de confirmación de actualización de la cita
                function confirmar() {
                    const form = document.querySelector("#formAppo");
                    form.addEventListener("submit", event => {
                        event.preventDefault();
                        Swal.fire({
                            title: '¿Estas seguro de guardar estos cambios?',
                            text: "¡Estas actualizando la información!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: '¡Si, actualizar!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                form.submit();
                                Swal.fire(
                                    '¡Actualizado!',
                                    'La cita se actualizo exitosamente.',
                                    'success'
                                )
                            }
                        })

                    })
                }
            </script>
    </section>
</div> 